:root {
  --background: #ffffff;
  --text-color: #222;
  --node-background: #f0f0f0;
  --node-border: #333;
  --header-background: #e0e0e0;
  --header-text-color: #222;
  --popup-background: #ffffff;
  --popup-border: #ccc;
  --popup-shadow: rgba(0, 0, 0, 0.1);
  --button-background: #f0f0f0;
  --button-border: #ccc;
  --button-text: #222;
  --button-hover-background: #e0e0e0;
  --button-secondary-background: #f0f0f0;
  --button-secondary-text: #222;
  --button-secondary-hover-background: #e0e0e0;
  --input-background: #ffffff;
  --input-border: #ccc;
  --input-text: #222;
  --controls-background: #f0f0f0;
  --controls-border: #ddd;
  --accent-color: #007bff;
  --accent-color-dark: #0056b3;
  --accent-color-light: rgba(0, 123, 255, 0.25);
  --highlight-color: rgba(255, 179, 128, 0.9);
  --selection-color: rgba(0, 123, 255, 0.9);
  --search-color: rgba(110, 220, 110, 0.9);
  --badge-background: #e9ecef;
}

:root.dark {
  --background: #333333;
  --text-color: #f0f0f0;
  --node-background: #555555;
  --node-border: #f0f0f0;
  --header-background: #444444;
  --header-text-color: #f0f0f0;
  --popup-background: #444444;
  --popup-border: #666;
  --popup-shadow: rgba(0, 0, 0, 0.5);
  --button-background: #555555;
  --button-border: #666;
  --button-text: #f0f0f0;
  --button-hover-background: #666666;
  --button-secondary-background: #555555;
  --button-secondary-text: #f0f0f0;
  --button-secondary-hover-background: #666666;
  --input-background: #555555;
  --input-border: #666;
  --input-text: #f0f0f0;
  --controls-background: #555555;
  --controls-border: #666;
  --accent-color: #007bff;
  --accent-color-dark: #0056b3;
  --accent-color-light: rgba(0, 123, 255, 0.25);
  --highlight-color: rgba(255, 179, 128, 0.9);
  --selection-color: rgba(0, 123, 255, 0.9);
  --search-color: rgba(110, 220, 110, 0.9);
  --badge-background: #6c7680;
  /* --badge-background: #495057; */
}
